@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.wrapper {
  width: 1000px;
  margin: auto;
  padding: 1rem 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connect-buttons {
  display: flex;
}

.header-text {
  font-family: 'Macondo', cursive;
  font-size: 3rem !important;
}
