.open-editor-btn,
.close-editor-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-and-save-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.8rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.editor-open-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
