.all-writers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.all-writers-cards,
.my-subscribers-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.writer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 0.9rem !important;
}

.writer-details-all {
  display: flex;
  justify-content: space-between;
}

.writer-details-profile {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.breadcrumbs-writer-card-top-right {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.writer-identicon-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.writer-card-top-right {
  display: flex;
  gap: 1.1rem;
  justify-content: center !important;
  align-items: center !important;
}

.writer-basic-profile {
  display: flex;
  flex-direction: column;
}

.writer-address-did {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.writer-deployed-contract-address {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.view-profile {
  text-align: right;
  padding: 0.8rem 0 0.2rem;
}

.all-writers-back-btn:hover {
  cursor: pointer;
}

.back-click {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.view-read-contract {
  display: flex;
  justify-content: space-between;
}

.subscribe-btn:hover {
  cursor: pointer;
}

.contract-card-items,
.read-card-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.token-reads-and-writes {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

.token-reads {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.token-writes {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.token-write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-left: 3rem;
}

.read-blog-posts {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
