.address-identicon {
  display: flex;
  align-items: center;
}

.home-content {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6rem;
  row-gap: 3rem;
}

.profile-not-found {
  grid-column: 1/-1;
}

.update-profile-btn {
  width: 60% !important;
}
