.address-identicon {
  display: flex;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.update-profile-btn {
  width: 10% !important;
}
