.wrapper {
  width: 1000px;
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
}

.connectButtons {
  display: flex;
}

.content {
  margin-top: 1rem;
}
